extends skeleton

mixin topics(a)
  li.topics__element= a


block main
  .hero.hero--without-img.bg--gray
    .hero__top
    .hero__bottom
    .container
      .breadcrumbs.my-4
        .row
          .col-12
            ul.breadcrumbs__container
              li.breadcrumbs__list
                a.breadcrumbs__link(href='/courses') Courses
              li.breadcrumbs__list
                span.breadcrumbs__link.breadcrumbs__link--active= `${course.name}`

      .introduction.my-4
        .row
          .col-12.col-lg-6
            h1.introduction__title= `${course.name}`
            p.introduction__text.mt-4.mb-2= `${course.summary}`
          .col-12.col-lg-6
            .introduction__wrap-img.my-4
              img.introduction__img(src=`/images/courses/${course.imageCover}` alt=`${course.name}`)

  .digest.my-5
    .container.bg--white
      .row
        .col-12
          h6.digest__title Summary
        .col-12.col-md-6
          .digest__element
            i.fas.fa-graduation-cap.digest__icon
            |             University:
            span.digest__information= `${course.academy.name}`
          .digest__element
            i.fas.fa-tag.digest__icon
            |             Category:
            span.digest__information= `${course.type}`
          .digest__element
            i.fas.fa-language.digest__icon
            |             Language:
            span.digest__information= `${course.language}`
        .col-12.col-md-6
          .digest__element
            i.far.fa-clock.digest__icon
            |             Duration:
            span.digest__information= `${course.duration} weeks`
          .digest__element
            i.far.fa-calendar-alt.digest__icon
            |             Schedule:
            span.digest__information= `${course.scheduleBasic}`
          .digest__element
            i.fas.fa-money-bill.digest__icon
            |             Price:
            span.digest__information= `€ ${course.price}`
            
  
  .bg--gray.py-4
    .container
      .menu.my-5
        .row
          .col-12
            ul.menu__list
              li.menu__element
                a.menu__link.menu__link--active(href='#resume')
                  | Resume
              li.menu__element
                a.menu__link(href='#topics')
                  | Topics
              li.menu__element
                a.menu__link(href='#details')
                  | Details
              li.menu__element
                a.menu__link(href='#booking')
                  | Booking
              li.menu__element
                a.menu__link(href='#reviews')
                  | Reviews
                  
  #resume.description.my-5.bg--white
    .container.py-5
      .row
        .col-12
          .description__content
            span.category.badge Resume
            h2.description__title= `${course.name}`
            p.description__text.my-4= `${course.description}`
            .description__wrap-img.my-4.mt-5
              img.description__img(src=`/images/courses/${course.images[1]}` alt=`${course.name}`)
                
    
  #topics.topics.my-5
    .bg--gray
      .container.py-5
        .row
          .col-12
            .topics__content
              span.category.badge Topics
              h3.topics__title What will you study about?
              ol.topics__list
                for x in course.topics
                  +topics(x)

            
  #details.details.bg--white.my-5
    .container.py-5
      .row
        .col-12
          .details__content
            span.category.badge Details
            .card.mb-3(style='max-width: 90%;margin-left: auto; margin-right:auto')  
              .row
                .col-12
                  h4.card-title.pt-4.pb-3.text-center.font-weight-bold A few more details...
                .col-md-12
                  img.card-img(src=`/images/courses/${course.images[2]}` alt=`${course.name}`)
                .col-md-12
                  .card-body
                    ul.list-group.list-group-flush
                      li.list-group-item 
                        b Hosted by: 
                        span= course.academy.name
                      li.list-group-item 
                        b Address: 
                        span= course.academy.address
                      li.list-group-item 
                        b.small__header Start Date:  
                        - const startDate = course.startDates[0].toLocaleString('en-GB', {month: 'long', year: 'numeric'})
                        span=  startDate
                      li.list-group-item 
                        b.small__header Schedual: 
                        ol
                          each schedul in course.scheduling 
                            li= `${schedul}`
                      li.list-group-item 
                        b Maximum size of group: 
                        span= course.maxGroupSize
                      li.list-group-item 
                        b Difficulty:  
                        span= course.difficulty
                      li.list-group-item 
                        b Rating: 
                        span= course.ratingAverage
                      li.list-group-item 
                        b.small__header Teachers: 
                        ol
                          each teacher in course.teachers 
                            li= `${teacher}`
                      li.list-group-item 
                        b.small__header Achivements: 
                        ol
                          each achievement in course.achievements 
                            li= `${achievement}`
                      li.list-group-item 
                        b Requirements: 
                        span= course.requirements

            


