extends skeleton

block main
  .bg--gray
    .container.pt-4.pb-2
      .row
        .col-12
          .sub
            h1.sub__title.mb-3 Amazing courses for you
            p.sub__text Discover fascinating courses from all around Ireland
            img.sub__img(src='./images/gift.svg' alt='')

              
  .hero.hero--without-img.bg--white
    .hero__top
    .hero__bottom
    .container-fluid.conatiner--max.py-4
      .row
        h2.title.col-12.title--h2.pt-3 April Trending
        .col-xs.col-md-6.col-xl-4.mb-4
          .card
            img.card-img-top(src='./images/4.jpg' alt='course')
            .card-body.card__body
              .card-head
                h5.card-title.card__title Exploring Play: The Importance of Play in Everyday Life
            .card__wrap-btn
              a.btn.btn-primary.card__btn.custom__btn.custom__btn--purple(href='#') Read more
        .col-xs.col-md-6.col-xl-4.mb-4
          .card
            img.card-img-top(src='./images/3.jpg' alt='course')
            .card-body.card__body
              .card-head
                h5.card-title.card__title Exploring Play: The Importance of Play in Everyday Life
            .card__wrap-btn
              a.btn.btn-primary.card__btn.custom__btn.custom__btn--purple(href='#') Read more
        .col-xs.col-md-6.col-xl-4.mb-4
          .card
            img.card-img-top(src='/images/1.jpg' alt='course')
            .card-body.card__body
              .card-head
                h5.card-title.card__title Exploring Play: The Importance of Play in Everyday Life
            .card__wrap-btn
              a.btn.btn-primary.card__btn.custom__btn.custom__btn--purple(href='#') Read more

  .bg--gray
    .container-fluid.conatiner--max.py-5
      .row
        h2.title.col-12.title--h2 All Courses
        
        each course in courses
          .col-xs.col-md-6.col-xl-3.my-5
            .card
              img.card-img-top(src=`./images/courses/${course.imageCover}` alt=`${course.name}`)
              .card-body.card__body
                .card-head
                  h5.card-title.card__title= course.name
                p.card__text= course.summary
                p.card__text
                  span
                    i.fas.fa-graduation-cap.card__icon
                    = `${course.academy.nameAbbr}`
                  span
                    i.fas.fa-tag.card__icon 
                    = `${course.type}`
                  span
                    i.far.fa-clock.card__icon
                    = `${course.duration} weeks`
              .card__wrap-btn
                a.btn.btn-primary.card__btn.custom__btn(href=`/courses/${course.slug}`) Read more


            